# exclude everything - exclude every 'venv' name
/*
/*/

# dont exclude project files
!/.github/**
!/plotmanager/**
!/.gitignore
!/config.yaml.default
!/LICENSE
!/manager.py
!/README.md
!/README.RU.md
!/requirements.txt
!/requirements-notification.txt
!/stateless-manager.py
!/VERSION
!/VERSIONLOG.md